[Unit]
Description=Shutdown Pi Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/piVidLooper/pythonShutdown.py

[Install]
WantedBy=multi-user.target
